/*____*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* ---------------------------------------------------------------------------- */

video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform-origin: center center;
	object-fit: cover;
}

iframe {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 1001;
 }

 .preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	text-align: center;
	margin-top: -40px;
 }

 .preloader__item {
	position: absolute;
	display: inline-block;
	background-image: url(files/heart.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin-left: -70px;
	animation: beat 0.75s infinite alternate;
 }

 @keyframes beat{
	to { transform: scale(1.4); }
}

 .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
 }

 .loaded .preloader {
	display: none;
 }

 .pip {
	font-size: 18px;
	color: blue;
 }

 .overlay {
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 20px;
	transition: 0.3s all ease-in-out;
	-webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
}

.modal {
   opacity: 0;
   visibility: hidden;
   width: 100%;
   height: 100%;
   width: max-content;
   height: max-content;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   transition: 0.3s all ease-in-out;
   z-index: 30;
	color: #ffffff;
}

.modal p {
	padding: 15px;
	max-width: 400px;
}

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal img {
	width: 400px;
	border: 2px solid #2d2d2d;
	box-shadow: 5px 5px 3px 1px #2d2d2db5; 
	border-radius: 2px;
}

@media (max-width: 500px) {
	.modal img {
		width: 300px;
	}
}
